/* colors I like
#e4cdff */

/* ------ reset stuff ------ */

* {
    padding: 0;
    margin: 0;
    font-family: "Courier New", Courier, monospace, Tahoma, sans-serif;
}

button {
    border: none;
}

/* ------------------------- */
:root {
    --purple: #6f42c1;    
}

.btn-purple {
    background-color: var(--purple);
    color: #fff;
}

/* ------------------------- */

header {
    background-color: #00d9ff;
    height: 84px;
    box-shadow: 0 0px 10px 2px #5a5a5a;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

img.header-logo {
    background-color: var(--purple);
}

#navbar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(255, 0, 179);
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 180px 1fr;
    column-gap: 10px;
    row-gap: 10px;
    height: 100vh;
}

.form-container {
    background-color: rgba(0, 255, 255, 0.216);
}

.side-nav-container {
    background-color: rgba(255, 0, 0, 0.216);
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}

.side-nav-container button {
    margin: 10px 5px;
}

.sub-navbar {
    width: 100%;
    background-color: rgb(0, 255, 4);
    display: flex;
    justify-content: space-around;
}

.sub-navbar button {
    width: 80px;
}

.test-checks {
    display: grid;
    grid-row: 2fr 1fr 1fr;
    grid-column: 1fr 1fr;
}

.test-checks h4 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.box1 {
}

.box2 {
}

.box3 {
}

.box4 {
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: orange;
}

.tester {
    background-color: rgb(255, 0, 234);
}
